<section class="intro">
  <div class="inner">
    <div class="content">
      <h1>7M27D</h1>
      <p>Fullstack Developer</p>
    </div>
  </div>
</section>

<a href="/#about" id="about"></a>
<div class="clearfix"></div>

  <section class="sidebar">
    <%= image_tag("profile.jpg") %>
  </section>

  <section class="left-col">
    <h2>Who Am I</h2>
    <hr id="under_padding" width="10%">
    <p style="text-indent: 6%;">
      Hi there and thanks for dropping in! My name is Leo and I am currently working in SunLife as Web Developer in an agile team.
    </p>
    <p style="text-indent: 6%;">  
      I define web development is an art where it be used as a freedom of expression and sharing a vision. This allowed user(s) exploring 
      all the different ways interacting with it and an exhilarating process of trying to think of ways of optimizing the experience.
    </p>
  </section>

<a href="/#work" id="work"></a>
<div class="clearfix"></div>

  <h2 id="title_padding">Work</h2>
  <hr id="under_padding" width="3%">

  <% @works.each do |work| %>
    <section class="one-third-work">
      <%= link_to (image_tag work.img), work %>
    
        <h3 style="text-align: center; position: relative; top: -150px; color: #9a9da4; "><%= work.title %></h3>
     
    </section>
  <% end %>
  
<a href="/#proj" id="proj"></a>
<div class="clearfix"></div>
 
  <h2 id="title_padding">Project</h2>
  <hr id="under_padding" width="4%">
  <% @projects.each do |project| %>
    <section class="one-half-proj">
      <%= link_to (image_tag project.img), project %>

      <h3 style="text-align: center; position: relative; top: -150px; color: #9a9da4; "><%= project.title %></h3>

    </section>
  <% end %>
 
<a href="/#blog" id="blog"></a>
<div class="clearfix"></div>
  <section class="left-col">
    <h2>Blog</h2>
    <hr width="4%" id="under_padding">
    <p style="text-indent: 6%;">
    Welcome to the blog section of the website. This would contain some of my thoughts, tutorial and as well collaberation with others. Feel free to visit the blog part of the portion <%= link_to "here", blogs_path %>.</p>

    
  </section>
  <section class="sidebar">
    <section class="contact">
      <% @blogs.each do |blog| %>
        <div class="post">
          <p class="date"><%= blog.created_at.strftime('%A, %B, %d') %></p>
          <h2><%= link_to blog.title, blog %></h2>
          <hr>
        </div>
      <% end %>
    </section>
  </section>

<a href="/#contact" id="contact"></a>
<div class="clearfix"></div>
    <section class="parallax">
      <div class="parallax-inner"></div>
    </section>

<div class="clearfix"></div>
  <h2>Contact Me</h2>
  <hr id="under_padding" width="7%">
  <section class="contact">
    <p>My name is <a href="mailto:leocheung_1986@hotmail.com">Leo Cheung</a><br>Aruora, Ontario</p>
  </section>

<div class="clearfix"></div>

