<section class="intro">
  <div class="inner">
    <div class="content">
      <h1>7M27D</h1>
      <p>Fullstack Developer</p>
    </div>
  </div>
</section>

<a href="/#about" id="about"></a>
<div class="clearfix"></div>

  <section class="sidebar">
    <%= image_tag("profile.jpg") %>
  </section>

  <section class="left-col">
    <h2>About Me</h2>
    <hr>
    <p style="text-indent: 6%;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 
    </p>
    <hr>
  </section>

<a href="/#work" id="work"></a>
<div class="clearfix"></div>
  <h2>Work</h2>
  <section class="one-third-work">
    <%= image_tag "wood-coffee-iphone-notebook.jpg" %>
  </section>
  <section class="one-third-work">
    <%= image_tag "pexels-photo.jpg" %>
  </section>
  <section class="one-third-work">
    <%= image_tag "pexels-photo-1.jpg" %>
  </section>
  <section class="one-third-work">
    <%= image_tag "pexels-photo-2.jpg" %>
  </section>
  <section class="one-third-work">
    <%= image_tag "pexels-photo-3.jpg" %>
  </section>
  <section class="one-third-work">
    <%= image_tag "pexels-photo-5.jpg" %>
  </section>
  
<a href="/#proj" id="proj"></a>
<div class="clearfix"></div>
  <h2>Project</h2>
  <hr>
  <section class="one-half-proj">
    <%= image_tag"wood-coffee-iphone-notebook.jpg" %>
  </section>
  <section class="one-half-proj">
    <%= image_tag"pexels-photo.jpg" %>
  </section>
  <section class="one-half-proj">
    <%= image_tag"pexels-photo-1.jpg" %>
  </section>
  <section class="one-half-proj">
    <%= image_tag"pexels-photo-2.jpg" %>
  </section>
 
<a href="/#blog" id="blog"></a>
<div class="clearfix"></div>
  <section class="left-col">
    <h2>Blog</h2>
    <p style="text-indent: 6%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 

    Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. </p>
  </section>
  <section class="sidebar">
    <section class="contact">
      <p>Coding in Java</p>
      <p>Coding in PhP</p>
      <p>Coding in Javascript</p>
      <p>Coding in CSS/SASS</p>
    </section>
  </section>

<a href="/#contact" id="contact"></a>
<div class="clearfix"></div>
    <section class="parallax">
      <div class="parallax-inner"></div>
    </section>

<div class="clearfix"></div>
  <h2>Contact Me</h2>
  <section class="contact">
    <p>My name is <a href="mailto:leo@test.com">Leo Cheung</a><br>1888-888-8888<br>123 Fake Street, Toronto, On</p>
  </section>

<div class="clearfix"></div>

