<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>

<div class="sidebar">
    <%= image_tag @work.img %>
</div> 

<div class="left-col">
  <h2><%= @work.title %></h2>
  <div class="post">
    <hr>
  </div>
  
  <p class="date"><%= @work.created_at.strftime('%A, %B, %d') %></p>
  <p><%= markdown @work.content %></p>
  <p class="date" ><%= link_to "Back", works_path %></p>

  <div class="post">
    <hr>
  </div>

  <div id="share_box">
    <p>Share "<%= @work.title %>"</p>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
  </div>

  <%= link_to "Edit", edit_work_path(@work) %>
  <%= link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure you wanted to delete this post?"} %>
</div>

<div class="clearfix"></div>

