<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>

<div class="sidebar">
    <%= image_tag @work.img %>
</div> 

<div class="left-col">
  <h2><%= @work.title %></h2>
  <div class="post">
    <hr>
  </div>
  
  <p class="date"><%= @work.created_at.strftime('%A, %B, %d') %></p>
  <p><%= markdown @work.content %></p>
  <p class="date" ><%= link_to "Back", works_path %></p>

  <div class="post">
    <hr>
  </div>

  <% if user_signed_in? %>
    <%= link_to "Edit", edit_work_path(@work) %>
    <%= link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure you wanted to delete this post?"} %>
  <% end %>
</div>

<div class="clearfix"></div>

