<!DOCTYPE html>
<html>
  <head>
    <title>7D27M - Fullstack Developer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>7M27D</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <span  class="menu-icon" onclick="openNav()">&#9776;</span>
      <p class="banner">7M27D </p>
      <nav id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">

          <% if current_page?(root_path) %>
            <%= link_to "Who Am I", root_path(:anchor => "about") %>
            <%= link_to "Work", root_path(:anchor => "work") %>
            <%= link_to "Project", root_path(:anchor => "proj") %>
            <%= link_to "Blog", root_path(:anchor => "blog") %>
            <%= link_to "Contact", root_path(:anchor => "contact") %>
          <% else %>
            <%= link_to "Home", root_path %>
            <%= link_to "Blog", blogs_path %>
            <%= link_to "Project", projects_path %>
            <%= link_to "Work", works_path %>
          <% end %>

        </div>
      </nav>
    </header>
    
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
    
    <% if current_page?(root_path) %>
      <footer>
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li> 
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>  
          <li><a href="#"><i class="fa fa-instagram"></i></a></li> 
        </ul>
      </footer>
    <% end %>
    <footer class="second">
      <p>7M27D &copy; 2017</p>
    </footer>
  </body>
</html>
